<% layout('./layouts/boilerplate.ejs')%>
<!-- Hero Section with Background Image -->
<section class="hero bg-cover bg-center py-20 h-64" style="background-image: url('/imgs/Banner-BG\ \(1\).png');">
    <div class="container mx-auto text-center text-white">
        <h1 class="text-5xl font-bold mb-6 text-[#6cbcc4]">Welcome to STAKK</h1>
        <p class="text-xl mb-8">Innovative Solutions for Digital Assets</p>
        <a href="/contact-us"
            class="bg-[#6cbcc4] hover:bg-cyan-600 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out">
            Sign Up
        </a>
        <a href="https://www.youtube.com/@STAKKFIN" target="_blank"
            class="bg-[#6cbcc4] hover:bg-cyan-600 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out ml-4">
            Videos
        </a>
    </div>
</section>

<!-- Services Section -->
<section class="services py-20">
    <div class="container mx-auto">
        <h2 class="text-4xl font-bold text-center mb-10">Our Services</h2>
        <!-- Services list -->
    </div>
</section>

<!-- About Section -->
<section class="about bg-white py-20">
    <div class="container mx-auto">
        <h2 class="text-4xl font-bold text-center mb-10">About Us</h2>
        <!-- About content -->
    </div>
</section>